{% extends 'hotel/hotel_form.html' %}

{% block page_name %}
Добавление отеля
{% endblock %}

{% block crumb %}
{{ block.super }}
{% if 'create' in request.path %}
<li><a href="{% url 'hotel:address-create' hotel_slug %}">Добавление адреса</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3 ">
  <div class="box box-default" data-select2-id="16">
    <div class="box-header with-border">
      <h3 class="box-title"></h3>
      <div class="box-tools pull-right">
	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body" data-select2-id="15">
      <form class="form-horizontal" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.uuid}}

	<div class="form-group">
	  {{form.country.errors}}
	  <label for="id_{{form.country.name}}" class="col-sm-3 control-label">{{form.country.label}}</label>
	  <div class="col-sm-8">
	    {{ form.country }}
	  </div>
	</div>

	<div class="form-group">
	  {{form.region.errors}}
	  <label for="id_{{form.region.name}}" class="col-sm-3 control-label">{{form.region.label}}</label>
	  <div class="col-sm-8">
	    {{ form.region }}
	  </div>
	</div>
	
	<div class="form-group">
	  {{form.city.errors}}
	  <label for="id_{{form.city.name}}" class="col-sm-3 control-label">{{form.city.label}}</label>
	  <div class="col-sm-8">
	      {{ form.city }}
	  </div>
	</div>
	
	<div class="form-group">
	  {{form.area.errors}}
	  <label for="id_{{form.area.name}}" class="col-sm-3 control-label">{{form.area.label}}</label>
	  <div class="col-sm-8">
	    {{ form.area }}
	  </div>
	</div>
	
	<div class="form-group">
	  {{form.street.errors}}
	  <label for="id_{{form.street.name}}" class="col-sm-3 control-label">{{form.street.label}}</label>
	  <div class="col-sm-8">
	    {{ form.street }}
	  </div>
	</div>
	
	<div class="form-group">
	  {{form.house.errors}}
	  <label for="id_{{form.house.name}}" class="col-sm-3 control-label">{{form.house.label}}</label>
	  <div class="col-sm-8">
	    {{ form.house }}
	  </div>
	</div>
	
	<div class="form-group">
	  {{form.flat.errors}}
	  <label for="id_{{form.flat.name}}" class="col-sm-3 control-label">{{form.flat.label}}</label>
	  <div class="col-sm-8">
	    {{ form.flat }}
	  </div>
	</div>
	
	<div class="form-group">
	  {{form.index.errors}}
	  <label for="id_{{form.index.name}}" class="col-sm-3 control-label">{{form.index.label}}</label>
	  <div class="col-sm-8">
	    {{ form.index }}
	  </div>
	</div>
	
	<div class="box-footer">
	  <a href="{% url 'hotel:hotel-list'%}" class="btn btn-default">Отмена</a>
	  <button type="submit" class="btn btn-info pull-right">Далее</button>
	</div>
	</div>
    </form>
    <!-- /.form-->
  </div>
  <!-- /.box-body -->
</div>
{% endblock %}
  
