{% extends 'hotel/hotel_detail.html' %}
{% load hotel_tags %}
{% block crumb %}
{{ block.super }}
<li><a href="{% url 'hotel:agreement-update' object.slug %}">Обновление заяп6вки</a></li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <div class="box">
      <div class="box-header with-boarder">
	<div class="pull-right box-tools">
	  <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="" data-original-title="Date range">
	    <i class="fa fa-calendar"></i></button>
	  <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse">
	    <i class="fa fa-minus"></i></button>
	</div>
	<h3 class="box_title">Заявка {{object.slug}}</h3>
        <div class="box-body table-responsive no-padding">
	  <div class="box">
	    <div class="box-header">
	      <h3 class="box-title">
		Статус -
		{% if object.process_status == 1 %}
		подтверждено
		{% elif object.process_status == 2 %}
		отклонено
		{% else %}
		на рассмотрении
		{% endif %}
	      </h3>
	      {% if '/update/' in request.path %}
	      <form action="{% url 'hotel:agreement-update' object.slug %}" method="post">
		{% csrf_token %}
		{{ form.hotel }}
		{{ form.agent }}
		<input type="hidden" name="process_status" value="1">
		{{ ticket_form.uuid }}
		<input type="hidden" name="parent" value="{{object.uuid}}">
		<input type="hidden" name="contragent_from" value="{{object.hotel_id}}">
		<input type="hidden" name="contragent_to" value="{{object.agent_id}}">
		<input type="hidden" name="status" value="1">
		<button class="btn btn-primary" type="submit">Принять</button>
	      </form>
	      <form action="{% url 'hotel:agreement-update' object.slug %}" method="post">
		{% csrf_token %}
		{{ form.hotel }}
		{{ form.agent }}
		<input type="hidden" name="process_status" value="2">
		{{ ticket_form.uuid }}
		<input type="hidden" name="parent" value="{{object.uuid}}">
		<input type="hidden" name="contragent_from" value="{{object.hotel_id}}">
		<input type="hidden" name="contragent_to" value="{{object.agent_id}}">
		<input type="hidden" name="status" value="2">
		<button class="btn btn-danger" type="submit">Отклонить</button>
	      </form>
	      {% endif %}
	    </div>
	    <!-- /.box-header -->
	    <div class="box-body no-padding">
	      <table class="table table-striped">
		<tbody><tr>
		    <th>Номер заявки</th>
		    <th>От кого</th>
		    <th>Кому</th>
		    <th>Статус</th>
		  </tr>
		  {% for item in object.tickets.all %}
		  <tr>
		    <td>{{object.slug }}</td>
		    <td>{% get_by_uuid item.contragent_from %}</td>
		    <td>{% get_by_uuid item.contragent_to %}</td>
		    <td>
		      {% if item.status == 0 %}
		      Не подтверждено
		      {% elif item.status == 1 %}
		      Подтверждено
		      {% else %}
		      Отклонено
		      {% endif %}
		    </td>
		  </tr>
		  {% endfor %}
	      </tbody></table>
	    </div>
	    <!-- /.box-body -->
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-9">
    <div class="box">
      <div class="box-header with-boarder">
	<div class="pull-right box-tools">
	  <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="" data-original-title="Date range">
	    <i class="fa fa-calendar"></i></button>
	  <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse">
	    <i class="fa fa-minus"></i></button>
	</div>
	<div class="box-body no-padding">
	  <table class="table table-striped">
	    <tbody><tr>
		<th>Тип номера</th>
		<th>Тип кровати</th>
		<th>Дата заезда</th>
		<th>Дата выезда</th>
	      </tr>
	      {% for item in object.items.all %}
	      
	      <tr>
		<td>{{ item.room.room_type }}</td>
		<td>{{ item.room.bed_type }}</td>
		<td>{{ item.date_start }}</td>
		<td>{{ item.date_end }}</td>
	      </tr>
	      {% endfor %}
	  </tbody></table>
	</div>
	<!-- /.box-body -->
      </div>
    </div>
  </div>
</div>
{% endblock%}
