{% extends 'hotel/index.html' %}

{% load static%}

{% block page_name %}
Добавление отеля
{% endblock %}

{% block crumb %}
{{ block.super }}
<li><a href="{% url 'hotel:contact-create' object.slug %}">Добавление контактов</a></li>
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3 ">
  <div class="box box-default" data-select2-id="16">
    <div class="box-header with-border">
      <h3 class="box-title"></h3>
      <div class="box-tools pull-right">
	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body" data-select2-id="15">
      <form class="form-horizontal" method="POST">
	<div id="form_set">
	  {% csrf_token %}
	  {{ form.management_form }}
	  {% for f in form %}
	  <div class="row">
	    <div class="col-md-3 col-md-offset-1">
	      <div class="form-group">
		<label for="id_{{f.name.name}}" class="col-md-3 control-label">{{f.name.label}}</label>
		{{f.name.errors}}
		{{ f.name }}
	      </div>
	    </div>
	    
	    <div class="col-md-3">
	      <div class="form-group">
		<label for="id_{{f.email.name}}" class="col-md-3 control-label">{{f.email.label}}</label>
		{{f.email.errors}}
		{{ f.email }}
	      </div>
	    </div>
	    
	    <div class="col-md-3">
	      <div class="form-group">
		<label for="id_{{f.phone.name}}" class="col-md-3 control-label">{{f.phone.label}}</label>
		{{f.phone.errors}}
		{{ f.phone }}
	      </div>
	    </div>
	    {{f.uuid}}
	  </div>
	  <hr>
	  {% endfor %}
	  <button type="submit" class="btn btn-info">Добавить</button>
	</div>
      </form>
      <div class="box-footer">
	<a href="{% url 'hotel:hotel-list'%}" class="btn btn-default">Отмена</a>
	<a href="{% url 'hotel:hotel-detail' object.slug %}" class="btn btn-primary pull-right">Далее</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
