{% extends 'hotel/index.html' %}
{% load i18n hotel_tags thumbnail %}
 

{% block title %}
{{block.super}}
|{{object.name}} 
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    
    <!-- Profile Image -->
    <div class="box box-primary">
      <div class="box-body box-profile">
	
	{% thumbnail object.photo "128x128" crop="center" as im %}
	<img class="profile-user-img img-responsive img-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
	{% endthumbnail %}	  
	
        <h3 class="profile-username text-center">{{object.name}}</h3>
	
        <p class="text-muted text-center"></p>
	
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>Followers</b> <a class="pull-right">{% subscribe_count object.uuid %}</a>
          </li>
          <li class="list-group-item">
            <b>{% trans 'Contragent' %}</b> <a class="pull-right">{{contragent_list.count}}</a>
          </li>
          <li class="list-group-item">
            <b>Friends</b> <a class="pull-right">13,287</a>
          </li>
        </ul>
	
	{% if perms.hotel.create_contragent %}
        <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
	{% endif %}
	
	{% if perms.hotel.delete_hotel %}
	<button class="btn btn-danger btn-block" data-toggle="modal" data-target="#modal-agent-delete"><b>{% trans 'Delete' %}</b></button>
	
	<!-- modal: Agent delete -->
	<div class="modal fade in" id="modal-agent-delete">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">×</span></button>
		<h4 class="modal-title">Удалить отель: {{object.name}}</h4>
	      </div>
	      <div class="modal-body">
		<p class="text-center">{% trans 'Do you really want to delete'%} {% trans 'Hotel' %} {{object.name}}?</p>
	      </div>
	      <div class="modal-footer">
		<form action="{% url 'hotel:hotel-delete' object.slug %}", method="POST">{% csrf_token%}
		  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
		  <input type="submit" class="btn btn-primary">
		</form>
	      </div>
	    </div>
	    <!-- /.modal-content -->
	  </div>
	  <!-- /.modal-dialog -->
	</div>
	<!-- /modal: Agent delete -->
	{% endif %}
	
	
	
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
    
    <!-- Contact Box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <strong><h3 class="box-title">Контакты</h3></strong>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
	{% for item in object.contacts.all %}
	<i class="fa fa-user margin-r-5"></i>{{item.name}}
	<p class="text-muted">
	  <i class="fa fa-phone"></i> {{item.phone}}
	</p>
	<p class="text-muted">
	  <i class="fa fa-envelope"></i> {{item.email}}
        </p>
	{% endfor %}
	
        <!-- /.box -->
      </div>
    </div>
    
    <!-- Location Box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Адрес</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
	<p class="text-muted">
	  <i class="fa fa-map-marker margin-r-5"></i>
	  {{object.address.country}} {{object.address.city}} {{object.address.street}} {{object.address.house}}
	</p>
        <!-- /.box -->
      </div>
    </div>
    
  </div>
  <!-- /.col -->
  <div class="col-md-9">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#chess_view" data-toggle="tab">Панель</a></li>
	<li><a href="#reservation" data-toggle="tab">Брони</a></li>
        <li><a href="#settings" data-toggle="tab">Настройки</a></li>
	<li><a href="#subscribe" data-toggle="tab">Подписки</a></li>
      </ul>
      <div class="tab-content">
        <div class="active tab-pane" id="chess_view">
	  <div class="box">
	    <div class="box-header">
	      <h3 class="box-title">Шахматка</h3>
	    </div>
	    <!-- /.box-header -->
	    <div class="box-body">
	      <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
		<div class="row">
		  <div class="col-sm-12" style="overflow-x:auto;">
		    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
		      <thead>
			<tr role="row">
			  <th>
			    Типы номеров
			  </th>
			  {% for date in date_list %}
			  <th bgcolor="37BCF1">
			    {{date}}
			  </th>
			  {% endfor %}
			</tr>
		      </thead>
		      <tbody>
			{% room_types object.rooms.all as rooms %}
			{% for room in rooms %}
			<tr>
			  <td bgcolor="FFC614">
			    <strong>
			      {{room.bed_type}}, {{room.room_type}}
			    </strong>
			  </td>
			  {% reservation_search object.uuid as reservations %}
			  {% for date in date_list %}
			  <td>
			    {% for reservation in reservations %}
			    {% if reservation.room_type == room.room_type and reservation.bed_type == room.bed_type and date in reservation.dates %}
			    {{reservation.count}}/ {{room.count}} занято
			    {% endif %}
			    {% endfor %}
			  </td>
			  {% endfor %}
			</tr>
			{% endfor %}
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
      
      
        <!-- /.tab-pane -->
	
	  <h3 class="box_title">Добавить бронь</h3>
	  <div class="box-body">
	    <table class="table table-responsive">
	      <thead>
		<tr>
		  <th>Дата заезда</th>
		  <th>Дата выезда</th>
		  <th>Тип номера</th>
		  <th>Тип кровати</th>
	      </thead>
	      <tbody>
		<form class="form-horizontal" method="GET">
		  {% csrf_token %}
		  <td>
		    {{search_form.date_start}}
		  </td>
		  
		  <td>
		    {{search_form.date_end}}
		  </td>
		  
		  <td>
		    {{search_form.room_type}}
		  </td>
		  
		  <td>
		    {{search_form.bed_type}}
		  </td>
	      </tbody>
	      <tfoot>
		<tr>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td>
		    <button type="submit" class="btn btn-primary pull-right">Поиск</button>
		  <td>
		</tr>
	      </tfoot>
	      </form>
	      
	      
	      <table class="table table-responsive">
		<thead>
		  <tr>
		    <th>Количество</th>
		    <th></th>
		    <th></th>
		    <th></th>
		    <th></th>
		  <tr>
		</thead>
		<tbody>
		{% room_search manager as rooms %}
		<tr>
		  <form action="{% url 'hotel:basket-create' object.slug %}" method="POST">
		    {% csrf_token %}
		    <td>
		      <select class="form-control" name="count">
			{% for item in rooms.count %}
			<option class="form-control" name="count" value="{{item}}" id="id_count">{{item}}</option>
			{% endfor %}
		      </select>
		    </td>
		    <input type="hidden" name="hotel" value="{{object.uuid}}">
		    <input type="hidden" name="date_start" value="{{date_start|date:'d.m.y'}}" id="id_date_start">
		    
		    <input type="hidden" name="date_end" value="{{date_end|date:'d.m.y'}}" id="id_date_end">
		    
		    <td>
		      <input type="hidden" name="room_type" value="{{rooms.room_type}}" id="id_room_type" readonly="readonly">
		    </td>
		    
		    <td>
		      <input type="hidden" name="bed_type" value="{{rooms.bed_type}}" id="id_bed_type" readonly="readonly">
		    <td>
		</tr>
		<tbody>
		  <tfoot>
		    <tr>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td>
			<button type="submit" class="btn btn-primary pull-right">Добавить в корзину</button>
		      </td>
		    </tr>
		  </tfoot>
		</form>
	      </table>

	      {% if basket%}
	      <table class="table table-bordered">
		<thead>
		  <th>Дата заезда</th>
		  <th>Дата выезда</th>
		  <th>Тип номера</th>
		  <th>Тип кровати</th>
		</thead>
		
		
		{% for item in basket %}
		<tbody>
		  <td>{{item.date_start}}</td>
		  <td>{{item.date_end}}</td>
		  <td>{{item.room_type}}</td>
		  <td>{{item.bed_type}}</td>
		</tbody>
		{% endfor %}
		<tfoot>
		  <td><td>
		  <td></td>
		  <td>
		    
		    <form action="{% url 'hotel:agreement-create' object.slug %}" method="POST">
		      {% csrf_token %}
		      <input type="hidden" name="hotel" id="id_hotel" value="{{object.uuid}}">
		      <input type="hidden" name="process_status" id="id_process_status" value="1">
		      <button type="submit" class="btn btn-primary pull-right">Оформить</button>
		    </form>
		    
		  </td>
		</tfoot>
	      </table>
	      {% endif %}
	  </div>
	</div>
	
	<div class="tab-pane" id="reservation">
	  <table class="table table-bordered table-striped">
	    <thead>
	      <h3 class="box_title">Неподтвержденные брони</h3>
	      <tr>
                <th>Ref Key</th>
		<th>Контрагент</th>
		<th>Дата создания</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for item in object.agreement_hotel.all %}
	      {% if item.process_status == 0%}
	      <tr onclick="location.href='{% url 'hotel:agreement-update' item.slug %}'">
		<td>{{item.slug}}</td>
		<td>
		  {{item.agent}}
		</td>
		<td>
		  {{item.created}}
		</td>
	      </tr>
	      {% endif %}
	      {% endfor %}
	    </tbody>
	  </table>
	  
	  
          
	  <table class="table table-bordered table-striped">
	    <thead>
	      <h3 class="box_title">Подтвержденные брони</h3>
	      <tr>
                <th>Ref Key</th>
		<th>Контрагент</th>
		<th>Дата создания</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for item in object.agreement_hotel.all %}
	      {% if item.process_status == 1%}
	      <tr onclick="location.href='{% url 'hotel:agreement' item.slug %}'">
		<td>{{ item.slug }}</td>
		<td>
		  {{ item.agent }}
		</td>
		<td>
		  {{ item.edited}}
		</td>
	      </tr>
	      {% endif %}
	      {% endfor %}
	    </tbody>
	  </table>
          
	  <table class="table table-bordered table-striped">
	    <thead>
	      <h3 class="box_title">Отклоненные брони</h3>
	      <tr>
                <th>Ref Key</th>
		<th>Контрагент</th>
		<th>Дата создания</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for item in object.agreement_hotel.all %}
	      {% if item.process_status == 2%}
	      <tr onclick="location.href='{% url 'hotel:agreement' item.slug %}'">
		<td>{{ item.slug}}</td>
		<td>
		  {{ item.agent }}
		</td>
		<td>
		  {{item.edited}}
		</td>
	      </tr>
	      {% endif %}
	      {% endfor %}
	    </tbody>
	  </table>
	  
	  
        </div>
	
	<!-- /.tab-pane -->
	
        <div class="tab-pane" id="settings">
	  
	  <div class="box box-info">
	    <div class="box-header with-border">
	      <h3>Настройки отеля</h3>
	    </div>
	    <!-- /.box-header -->
	    
	    <div class="box-body">
	      <h3>Отель</h3>
	      
	      <table class="table table-condensed">
		<tbody>
		  <tr>
		    <th>Фото</th>
		    <td>
		      <div class="col-md-4">
			{% thumbnail object.photo "128x128" crop="center" as im %}
			<img class="profile-user-img img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
			{% endthumbnail %}
		      </div>
		    </td>
		  </tr>
		  <tr>
		    <th>Название</th>
		    <td>{{object.name}}</td>
		  </tr>
		  <tr>
		    <th>Сайт</th>
		    <td>{{object.site}}</td>
		  </tr>
		  <tfoot>
		    <tr>
		      <td></td>
		      <td>
			<a href="{% url 'hotel:hotel-update' object.slug %}" class="btn btn-primary pull-right">Изменить</a>
		      </td>
		    </tr>
		  </tfoot>
		</tbody>
	      </table>
	      
	      
	      <hr>

	      <h3>Адрес</h3>
	      <table class="table">
		<tbody>
		  <tr>
		    <td>{{object.address}}</td>
		  </tr>
		  <tfoot>
		    <tr>
		      <td>
			{% if object.address%}
			<a href="{% url 'hotel:address-update' object.address_id %}" class="btn btn-primary pull-right">Изменить</a>
			{% else %}
			<a href="{% url 'hotel:address-create' object.slug %}" class="btn btn-primary pull-right">Добавить</a>
			{% endif %}
		      </td>
		    </tr>
		  </tfoot>
		</tbody>
	      </table>
		    
	      <hr>
	      
	      <h3>Контактные данные</h3>
	      <table class="table">
		<tbody>
		  {% for item in object.contacts.all %}
		  <tr>
		    <th>Название службы</th>
		    <td>{{item.name}}</td>			
		  </tr>
		  <tr>
		    <th>Телефон</th>
		    <td>{{item.phone}}</td>
		  </tr>
		  <tr>
		    <th>Адрес почты</th>
		    <td>{{item.email}}</td>
		  </tr>
		  {% endfor %}
		  <tfoot>
		    <tr>
		      <td></td>
		      <td><a href="{% url 'hotel:contact-create' object.slug %}" class="btn btn-primary pull-right">Изменить</a></td>
		    </tr>
		  </tfoot>
		</tbody>
	      </table>
	      
	      <hr>
	      
	      <h3>Номерной фонд</h3>
	      {% room_types object.rooms.all as rooms %}
	      <table class="table">
		<tbody>
		  <tr>
		    <th>Количество</th>
		    <th>Тип кровати</th>
		    <th>Тип номера</th>
		  </tr>
		  {% for room in rooms%}
		  <tr>
		    <td>{{room.count}}</td>
		    <td>{{ room.bed_type}}</td>
		    <td>{{room.room_type}}</td>
		  </tr>
		  {% endfor%}
		</tbody>
	      </table>
	      {% if object.rooms.all %}
	      <a href="{% url 'hotel:room-update' object.slug %}" class="btn btn-primary pull-right">Изменить</a>
	      {% endif %}
	      <a href="{% url 'hotel:room-create' object.slug %}" class="btn btn-primary pull-right">Добавить</a>
	    </div>
	  </div>
	</div>
      	<!-- /.box-body -->
	<!-- /.tab-pane -->
	
	<div class="tab-pane" id="subscribe">
	  
	  <!-- create subscription -->
	  <div class="box box-primary">
	    <div class="box-header with-border">
	      <h3 class="box-title">Заявки на подписку</h3>
	    </div>
	    <div class="box-body">
	      <table id="datatable" class="table table-bordered table-striped">
		<thead>
		  <th>Агентство</th>
		  <th>Адрес</th>
		  <th>Действие</th>
		</thead>
		<tbody>
		  {% subscribe_none object.uuid as subscribtions %}
		  {% if subscribtions != 'None' %}
		  {% for item in subscribtions %}
		  {% agency_from_api_by_uuid item.contragent_from as agency %}
		  <tr>
		    <td>{{agency.name}}</td>
		    <td>{% address_by_uuid agency.address %}</td>
		    <td>
		      <form action="{% url 'hotel:subscribtion-accept' item.uuid  %}" method="POST">
			{% csrf_token %}
			<input type="hidden" value="{{ item.uuid }}" name="uuid">
			<input type="hidden" name="contragent_from" value="{{item.contragent_from}}">
			<input type="hidden" name="contragent_to" value="{{item.contragent_to}}">
			<input type="hidden" name="is_approved" value="true">
			<button type="submit" class="btn btn-primary">Принять</button>
		      </form>
		      <form action="{% url 'hotel:subscribtion-accept' item.uuid %}" method="POST">
			{% csrf_token %}
			<input type="hidden" value="{{ item.uuid }}" name="uuid">
			<input type="hidden" name="contragent_from" value="{{item.contragent_from}}">
			<input type="hidden" name="contragent_to" value="{{item.contragent_to}}">
			<input type="hidden" name="is_approved" value="false">
			<button type="submit" class="btn btn-danger">Отклонить</button>
		      </form>
		    </td>
		  </tr>
		  <hr>
		  {% endfor %}
		  {% endif %}
		</tbody>
	      </table>
	    </div>
	  </div>
	  <!-- /create subscription -->
	  
	  <!-- subscribers list -->
	  <div class="box box-primary">
	    <div class="box-header with-border">
	      <h3 class="box-title">Подписчики</h3>
	    </div>
	    <div class="box-body">
	      <table id="datatable" class="table table-bordered table-striped">
		<thead>
		  <th>Агентство</th>
		  <th>Адрес</th>
		  <th>Действие</th>
		</thead>
		<tbody>
		  {% subscribe_true object.uuid as subscribtions %}
		  {% if subscribtions != 'None' %}
		  {% for item in subscribtions%}
		  <tr>
		    <td>{% agency_by_uuid item.contragent_from as agency %} {{agency.name}}</td>
		    <td>{% address_by_uuid agency.address_id %}</td>
		    <td>
		      <form action="{% url 'hotel:subscribtion-accept' item.uuid %}" method="POST">
			{% csrf_token %}
			<input type="hidden" value="{{ item.uuid }}" name="uuid">
			<input type="hidden" name="contragent_from" value="{{item.contragent_from}}">
			<input type="hidden" name="contragent_to" value="{{item.contragent_to}}">
			<input type="hidden" name="is_approved" value="null">
			<button type="submit" class="btn btn-danger">Отменить</button>
		      </form>
		    </td>
		  </tr>
		  {% endfor %}
		  {% endif %}
		</tbody>
	      </table>
	    </div>
	  </div>
	  <!-- /subscribers list -->
	  
	  
	  <!-- canceled subscribtions -->
	  <div class="box box-primary">
	    <div class="box-header with-border">
	      <h3 class="box-title">Отклоненные подписки</h3>
	    </div>
	    <div class="box-body">
	      <table id="datatable" class="table table-bordered table-striped">
		<thead>
		  <th>Агентство</th>
		  <th>Адрес</th>
		  <th>Действие</th>
		</thead>
		<tbody>
		  {% subscribe_false object.uuid as subscribtions %}
		  {% if subscribtions != 'None' %}
		  {% for item in subscribtions %}
		  <tr>
		    <td>{% agency_by_uuid item.contragent_from as agency %} {{agency.name}}</td>
		    <td>{% address_by_uuid agency.address_id %}</td>
		    <td>
		      <form action="{% url 'hotel:subscribtion-accept' item.uuid%}" method="POST">
			{% csrf_token %}
			<input type="hidden" value="{{ item.uuid }}" name="uuid">
			<input type="hidden" name="contragent_from" value="{{item.contragent_from}}">
			<input type="hidden" name="contragent_to" value="{{item.contragent_to}}">
			<input type="hidden" name="is_approved" value="null">
			<button type="submit" class="btn btn-primary">Вернуть</button>
		      </form>
		    </td>
		  </tr>
		  {% endfor %}
		  {% endif %}
		</tbody>
	      </table>
	    </div>
	  </div>
	  <!-- /create subscription -->
	</div>
      </div>	      
      <!-- /.tab-content -->
    </div>
    <!-- /.nav-tabs-custom -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

{% endblock %}
