{% extends 'hotel/index.html' %}

{% block page_name %}
Добавление отеля
{% endblock %}

{% block crumb %}
{{ block.super }}
<li><a href="{% url 'hotel:hotel-create' %}">Добавление отеля</a></li>
{% endblock %}

{% block content%}
<div class="col-md-6 col-md-offset-3 ">
  <div class="box box-default" data-select2-id="16">
    <div class="box-header with-border">
      <h3 class="box-title"></h3>
      <div class="box-tools pull-right">
	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    
    <div class="box-body" data-select2-id="15">
      <form class="form-horizontal" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-group">
	  {{form.name.errors}}
	  <label for="id_{{form.name.name}}" class="col-sm-3 control-label">{{form.name.label}}</label>
	  <div class="col-sm-8">
	    {{ form.name }}
	  </div>
	</div>
	
	
    
	<div class="form-group">
	  {{form.site.errors}}
	  <label for="id_{{form.site.name}}" class="col-sm-3 control-label">{{form.site.label}}</label>
	  <div class="col-sm-8">
	    {{ form.site }}
	  </div>
	</div>
	
	
    
	<div class="form-group">
	  {{form.photo.errors}}
	  <label for="id_{{form.photo.name}}" class="col-sm-3 control-label">{{form.photo.label}}</label>
	  <div class="col-sm-8">
	    {{ form.photo }}
	  </div>
	</div>
	
	<div class="box-footer">
	  <a href="{% url 'hotel:hotel-list'%}" class="btn btn-default">Отмена</a>
	  <button type="submit" class="btn btn-info pull-right">Далее</button>
	</div>
      </form>
      <!-- /.form-group -->
      
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</div>


{% endblock%}
