{% extends 'hotel/index.html' %}
{% load i18n thumbnail hotel_tags%}


{% block infobox %}

{% if perms.hotel.add_hotel %}
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-aqua">
    <div class="inner">
      <h3>Отель</h3>
      <p>Добавить отель</p>
    </div>
    <div class="icon">
      <i class="ion ion-compass"></i>
    </div>
    <a href="{% url 'hotel:hotel-create' %}" class="small-box-footer">подробнее <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>

{% endif %}

{% endblock %}


{% block content %}
<div class="row">
  <div class="col-xs-12">
    {% for item in hotel_list %}
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user" onclick="location.href='{% url 'hotel:hotel-detail' item.slug %}'">
	<!-- Add the bg color to the header using any of the bg-*1 classes -->
	<div class="widget-user-header bg-aqua-active">
	  <h3 class="widget-user-username">{{ item.name }}</h3>
	  <h5>{% address_by_uuid item.address_id %}</h5>
	</div>
	<div class="widget-user-image">
	  {% thumbnail item.photo "200x200" crop="center" as im %}
	  <img class="img-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
	  {% endthumbnail %}	  
	</div>
	<div class="box-footer">
	  <div class="row">
	    <div class="col-sm-4 border-right">
	      <div class="description-block">
		<h5 class="description-header">3,200</h5>
		<span class="description-text">Запросы</span>
	      </div>
	      <!-- /.description-block -->
	    </div>
	    <!-- /.col -->
	    <div class="col-sm-4 border-right">
	      <div class="description-block">
		<h5 class="description-header">13,000</h5>
		<span class="description-text">Брони</span>
	      </div>
	      <!-- /.description-block -->
	    </div>
	    <!-- /.col -->
	    <div class="col-sm-4">
	      <div class="description-block">
		<h5 class="description-header">35</h5>
		<span class="description-text">Партнеры</span>
	      </div>
	      <!-- /.description-block -->
	    </div>
	    <!-- /.col -->
	  </div>
	  <!-- /.row -->
	</div>
      </div>
      <!-- /.widget-user -->
    </div>
    {% endfor %}


  </div>
</div>
{% endblock %}
