{% extends 'hotel/index.html' %}

{% load static%}

{% block page_name %}
Добавление номера
{% endblock %}



{% block content %}
<div class="col-md-6 col-md-offset-3  ">
  <div class="box box-default" data-select2-id="16">
    <div class="box-header with-border">
      <h3 class="box-title"></h3>
      <div class="box-tools pull-right">
	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <form class="form-horizontal" method="POST" enctype="multipart/formdata">
	{% csrf_token %}
	{{form.errors}}
	{{form.uuid}}
	<input type="hidden" name="parent" value="{{hotel.uuid}}">
	<div class="form-group">
	  <label for="id_{{form.count.name}}" class="col-sm-3 control-label">Задайте количество</label>
	  {{forms.count.errors}}
	  <div class="col-sm-8">
	    {{ form.count }}
	  </div>
	</div>
    
	
	<div class="form-group">
	  <label for="id_{{form.desc.name}}" class="col-sm-3 control-label">{{form.desc.label}}</label>
	  {{form.desc.errors}}
	  <div class="col-sm-8">
	    {{ form.desc }}
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="id_{{form.room_type.name}}" class="col-sm-3 control-label">{{form.room_type.label}}</label>
	  {{form.room_type.errors}}
	  <div class="col-sm-8">
	    {{ form.room_type }}
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="id_{{form.bed_type.name}}" class="col-sm-3 control-label">{{form.bed_type.label}}</label>
	  {{form.bed_type.errors}}
	  <div class="col-sm-8">
	    {{ form.bed_type }}
	  </div>
	</div>
	<button type="submit" class="btn btn-info pull-right">Далее</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
