{% extends 'hotel/room_form.html' %}

{% load static%}

{% block page_name %}
Добавление номера
{% endblock %}


{% block content %}

  <div class="box box-default" data-select2-id="16">
    <div class="box-header with-border">
      <h3 class="box-title"></h3>
      <div class="box-tools pull-right">
	
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <form class="form-horizontal" method="POST" enctype="multipart/formdata">
	{% csrf_token %}
	{{ form.management_form}}
	{% for room_form in form %}
	{{room_form.uuid}}
	<input type="hidden" name="parent" value="{{hotel.uuid}}">
	
	<div class="form-group">
	  <label for="id_{{room_form.desc.name}}" class="col-sm-3 control-label">{{room_form.desc.label}}</label>
	  {{room_form.desc.errors}}
	  <div class="col-sm-8">
	    {{ room_form.desc }}
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="id_{{room_form.room_type.name}}" class="col-sm-3 control-label">{{room_form.room_type.label}}</label>
	  {{room_form.room_type.errors}}
	  <div class="col-sm-8">
	    {{ room_form.room_type }}
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="id_{{room_form.bed_type.name}}" class="col-sm-3 control-label">{{room_form.bed_type.label}}</label>
	  {{room_form.bed_type.errors}}
	  <div class="col-sm-8">
	    {{ room_form.bed_type }}
	  </div>
	</div>

	<div class="form-group">
	  <label for="id_{{room_form.DELETE.name}}" class="col-sm-3 control-label">{{room_form.DELETE.label}}</label>
	  {{room_form.DELETE.errors}}
	  <div class="col-sm-8">
	    {{ room_form.DELETE }}
	  </div>
	</div>

	{% endfor %}
	<button type="submit" class="btn btn-info pull-right">Сохранить</button>
      </form>

    </div>
  </div>

{% endblock %}
