{% extends 'hotel/index.html' %}
{% load hotel_tags %}
{% block content %}
<div class="row">
  {% for ticket in object_list %}
  <div class="col-md-9">
    <div class="box">
      <div class="box-header with-boarder">
	<div class="pull-right box-tools">
	  <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="" data-original-title="Date range">
	    <i class="fa fa-calendar"></i></button>
	  <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse">
	    <i class="fa fa-minus"></i></button>
	</div>
	<h3 class="box_title">Number {{ticket.slug}}</h3>
        <div class="box-body table-responsive no-padding">
	  <div class="box">
	    <div class="box-header">
	      <h3 class="box-title">
		Статус -
		{% if ticket.status == 1 %}
		подтверждено
		{% elif ticket.status == 2 %}
		отклонено
		{% else %}
		на рассмотрении
		{% endif %}
	      </h3>
	      {% if 'status_none' in request.path %}
	      <form action="{% url 'hotel:ticket-create' %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="slug" value="{{ticket.slug}}">
		<input type="hidden" name="contragent_to" id="id_contragent_to" value="{{ticket.contragent_from}}">
		<input type="hidden" name="contragent_from" id="id_contragent_from" value="{{ticket.contragent_to}}">
		<input type="hidden" name="status" value="1">
		{{ formset }}
		<button class="btn btn-primary" type="submit">Принять</button>
	      </form>
	      <form action="{% url 'hotel:ticket-create' %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="slug" value="{{ticket.slug}}">
		<input type="hidden" name="contragent_to" id="id_contragent_to" value="{{ticket.contragent_from}}">
		<input type="hidden" name="contragent_from" id="id_contragent_from" value="{{ticket.contragent_to}}">
		<input type="hidden" name="status" value="2">
		{{ formset }}
		<button class="btn btn-danger" type="submit">Отклонить</button>
	      </form>
	      {% endif %}
	    </div>
	    <!-- /.box-header -->
	    <div class="box-body no-padding">
	      <table class="table table-striped">
		<tbody><tr>
		    <th>Номер</th>
		    <th>Тип номера</th>
		    <th>Тип кровати</th>
		    <th>Дата - с</th>
		    <th>Дата - по</th>
		  </tr>
		  {% for item in ticket.item_set.all%}
		  <tr>
		    <td>{% room_by_uuid item.room as room %} {{ room.number }}</td>
		    <td>{{ room.room_type}}</td>
		    <td>{{ room.bed_type }}</td>
		    <td>{{ item.date_start}}</td>
		    <td>{{ item.date_end }}</td>
		  </tr>
		  {% endfor %}
	      </tbody></table>

	    </div>
	    <!-- /.box-body -->
	  </div>
	</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}

