{% load i18n %}

<li class="active treeview">
  {% if perms.agency.view_agent %}
  <a href="#">
    <i class="fa fa-book"></i> <span>{% trans 'Hotel' %}</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="{% url 'hotel:hotel-list' %}"><i class="fa fa-circle-o"></i> {% trans 'Hotel list'%}</a></li>
  </ul>
  {% endif %}
</li>

